body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#signup-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

#signup-header {
    text-align: center;
    margin-bottom: 20px;
}

#signup-header h1 {
    margin: 0;
    font-size: 24px;
    color: #333333;
}

#signup-form {
    display: flex;
    flex-direction: column;
}

#username, #password, #confirm-password {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

#signup-button {
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #2b2b2b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#signup-button:hover {
    background-color: #646464;
}

#error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-bottom: 15px;
}
#p1{
    margin: 0;
    padding: 0;
    font-size: 16px;
}