body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#login-container {
    background-color: #ffffff;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

#login-header {
    text-align: center;
    margin-bottom: 20px;
}

#login-header h1 {
    margin: 0;
    font-size: 24px;
    color: #333333;
}

#form {
    display: flex;
    flex-direction: column;
}

#username, #password {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

#login-button {
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background-color: #2b2b2b;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#login-button:hover {
    background-color: #646464;
}

#forgot-password {
    margin-top: 10px;
}

#forgot-password a {
    text-decoration: none;
    color: #007BFF;
    display: block;
    margin: 5px 0;
    font-size: 12px;
}

#forgot-password a:hover {
    text-decoration: underline;
}
#p1{
    margin: 0;
    padding: 0;
    font-size: 16px;
}